<div class="container">
	<div *ngFor="let lesson of lessonList; index as i">
		<div class="card" style="width: 31.3%">
			<div class="card-body">
				<h5 class="card-title">Lekcja {{i+1}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{lesson.name}}</h6>
				<a id="buttonT" (click)=goElsewhere(lesson.id) routerLink="/lesson-view" class="btn btn-dark">Teoria</a>
				<img src="././assets/images/v.png" alt="img" id="IMG" *ngIf = "doneTheoryArray[i] === 'done'">
				<img src="././assets/images/none.png" alt="img" id="IMG" *ngIf = "doneTheoryArray[i] === 'none'">
				<a id="buttonE" (click)=goElsewhere(lesson.id) (click)=checkExercise(lesson.name) class="btn btn-dark">Ćwiczenia</a>
				<img src="././assets/images/v.png" alt="img" id="IMG" *ngIf = "doneExercisesArray[i] === 'done'">
				<img src="././assets/images/x.png" alt="img" id="IMG" *ngIf = "doneExercisesArray[i] === 'notDone'">
				<img src="././assets/images/none.png" alt="img" id="IMG" *ngIf = "doneExercisesArray[i] === 'none'">
			</div>
		</div>
	</div>
</div>