.input-group {
  max-height: 50px;
}

@media (max-width: 400px){
  .input-group{
    margin-bottom: 16px;
  }

}

.lewo, .prawo
{
  background-color: #f2f2f2;
  border: solid;
  display: inline-block;
  width: 60px;
  height: 35px;
}

.smaller, .bigger
{
  background-color: #f2f2f2;
  border: solid;
  display: inline-block;
  font-size: 180%;
  font-weight: bold;
  width: 60px;
}

.lewo:hover, .prawo:hover, .smaller:hover, .bigger:hover
{
  background-color: #bfbfbf;
}

#left, #right
{
  width: 50%;
  height: 100%;
}

.card{
	margin-top: 6vw;
	margin-left: 10%;
	margin-right: 10%;
	border: none;
}

#goExercises:hover
{
	background-color: black;
	color: white;
}
