<form style="height: 100%;" [formGroup]="lessonForm" (ngSubmit)="create()">
<div class="d-flex align-items-center mt-5 pt-5 flex-column" style="height: 80%;">
  <h1>Stwórz lekcję</h1><br>

  <div class="input-group col-sm-4">
    <input class="form-control border border-dark" type="text" id="lessonName"
           formControlName="lessonName">
    <label class="form-control-placeholder" for="questionName">Nazwa lekcji</label>
  </div>
  
  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
	<button class="btn btn-light" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Wybierz ćwiczenie</button>		
	<div ngbDropdownMenu aria-labelledby="dropdownManual">
		<div *ngFor="let exercise of exercises_index">
			<button (click)=addExercise(exercise.name) ngbDropdownItem>Ćwiczenie {{exercise.id}}</button>
		</div>
	</div>
  </div>
  
  <div class="hero-unit">
	<h1>Lista ćwiczeń</h1>
	<div *ngFor="let chosen_exercise of chosen_exercises_index">
		<p>{{chosen_exercise.name}}<button (click)=deleteExercise(chosen_exercise.name) id="deleteButton" class="btn btn-light">Usuń</button></p>
	</div>
  </div>

    <!--z jakiegoś powodu zmiana nazwy w formControlName powoduje ze lista jest zawsze rozwinieta-->
    <div class="input-group col-sm-4"> <!-- CHANGE -->
      <input #imageInput
             class="form-control border border-dark btn btn-dark"
             id="theoryInput"
             formControlName="longImageQuestion"
             type="file"
             accept="application/pdf"
             (change)="processFile(imageInput)">
      <label class="form-control-placeholder" for="theoryInput">Treść lekcji</label></div>
    <!--<img
      class="ht-600 mb-4"
      [src]="pdfURL"
      *ngIf="pdfURL">-->

  <!--<ng-template #Image>
    <div class="input-group col-sm-4">
        <input #imageInput
               class="form-control border border-dark btn btn-dark"
               id="imageQuestion"
               formControlName="imageQuestion"
               type="file"
               accept="*"
               (change)="processFile(imageInput)">
      <label class="form-control-placeholder" for="imageQuestion">Pytanie</label></div>
  </ng-template>-->
  
  <div class="przyciskiZoom" style="width: 100%; text-align:center;">
	<button class="smaller" (click)=zoomOut($event) [style.visibility]= "pdfSrc == '' ? 'hidden' : 'visible'">
		-</button>
	<button class="bigger" (click)=zoomIn($event) [style.visibility]= "pdfSrc == '' ? 'hidden' : 'visible'">
		+</button>
  </div>
  <div style="width: 100%;" [style.visibility]= "pdfSrc == '' ? 'hidden' : 'visible'">
  <pdf-viewer [src]="pdfSrc" 
              [render-text]="true"
              style="display: block;"
			  (after-load-complete)="callBackFn($event)"
			  [page]="currentPage.toString()"
			  [show-all]="false"
			  [zoom]="scale.toString()"
  ></pdf-viewer>
  </div>
  
  <div class="przyciskiNav" style="width: 100%; text-align:center; margin-bottom: 10px;">
	<button class="lewo" (click)=changePageLeft($event) [style.visibility]= "pdfSrc == '' ? 'hidden' : 'visible'">
		<img src="././assets/images/left.png" alt="left" id="left"/></button>
	<button class="prawo" (click)=changePageRight($event) [style.visibility]= "pdfSrc == '' ? 'hidden' : 'visible'">
		<img src="././assets/images/right.png" alt="right" id="right"/></button>
  </div>
  

  <div class="mb-3">
    <button
      class="btn btn-outline-dark"
      type="submit"
      [disabled]="!lessonForm.valid">Stwórz</button>
    <button class="btn btn-outline-dark ml-5" type="button" (click)="reset(lessonForm)">Wyczyść</button>
  </div>

</div>
</form>
